/*Fuente de letra: Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --letras: #0f1827;
}

body{
    
    font-family: "Nunito", Arial, sans-serif;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.4vh;
    padding-bottom: 3vh;
    gap: 11px;
    text-decoration: none;
    color: var(--letras);
}

.logo a img{
    width: 4.8%;
}

.logo a p{
    font-family: "Merriweather", Georgia, 'Times New Roman', serif;
    font-size: 1.6rem;
    font-weight: 800;
}

.main-nav {
    padding-bottom: 1vh;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    gap: 1.5rem;
    list-style: none;
}

.main-nav ul li a{
    padding: 15px 17px;
    text-decoration: none;
    color: var(--letras);
    border-radius: 25px;
    font-weight: 650;
    background-color: #fff8ed;
}

.iconos:hover{
    position: relative;
    color: #fa7315;
    box-shadow: 2px 2px 5px 0px #fa7315;
    bottom: 2px;
    transition: all 0.3s;
}

.pie{
    background-color: var(--letras);
    padding-top: 11vh;
    color: white;
    padding-left: 13vh; /*Padding usado para derecha e izquierda para el contenido de la pagina*/
    padding-right: 13vh;
}
